img.main {
  float: right;
  margin: 10;
	padding: 10;
}
h1.intro {color: blueviolet;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 20;
  padding: 20;
  text-align: center;
  font-size: 35px;
}
h2.basic {
  color: black;
  font-style: inherit;
  margin: auto;
  padding: auto;
  text-align: justify;
  font-size: 25px;

}
span.highlight {
  font-style: italic;
  text-decoration: underline;
 }
.important {
  margin: 20px;
  padding: 20px;
  color: rgb(255, 0, 0);
  border: double;
}
h3.bold {
  font-style: inherit;
  font-size: 20px;
  color: black;
  text-align: center;
  text-decoration: underline;
}
p.unimportant {
  margin: 20px;
   padding: 20px;
   color: rgb(255, 0, 0);
   border: double;
 }

}
body {
  background-color: lightblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  margin: 500px;
  padding: 500px;
  box-sizing: content-box;
  border: 5px solid black;
}
