img.main {
  float: right;
  margin: 10;
	padding: 10;
}
h1.intro {color: blueviolet;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 20;
  padding: 20;
  text-align: center;
  font-size: 35px;
}
h2.basic {
  color: black;
  font-style: inherit;
  margin: 40;
  padding: 30;
  text-align: justify;
  font-size: 25px;

}
h3.bold {
  font-style: inherit;
  font-size: 20px;
  color: black;
  text-align: center;
  text-decoration: underline;
}
span.highlight {
  font-style: italic;
  text-decoration: underline;
 }
div.important {
   margin: 30px;
   padding: 30px;
   color: rgb(20, 28, 95);
 }
p.basic {
  margin: 10px;
  padding: 10px;
  color: rgb(141, 33, 6);
  text-decoration: underline;
}
p.unimportant {
  margin: 10px;
   padding: 10px;
   color: rgb(95, 20, 33);
 }

}
body {
  background-color: lightblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}
