body {
  background-color: rgb(183, 157, 28);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  margin: 30;
  padding: 30;
  box-sizing: border-box;
  border: 5px dotted black;
}
img.main {
  float: right;
  border: 5px solid rgb(19, 95, 120);
  margin: 10px;
  padding: 10px;
}
h1.intro {color: rgb(19, 95, 120);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 35px;
}
h2.basic {
  color: black;
  font-style: inherit;
  margin: 5px;
  padding: 5px;
  text-align: justify;
  font-size: 25px;

}
ol {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
 
}
span.highlight {
  font-style: italic;
  text-decoration: underline;
  margin: 5px;
  padding: 5px;
 }
.important {
  margin: 20px;
  padding: 20px;
  color: rgb(19, 95, 120);
  border: double;
}
h3 {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 35px;

}
h3.bold {
  font-style: inherit;
  font-size: 20px;
  color: black;
  text-align: center;
  text-decoration: underline;
  margin: 5px;
  padding: 5px;
}
p.unimportant {
   margin: 20px;
   padding: 20px;
   color: rgb(19, 95, 120);
   border: double;
 }
